/* Tailwind CSS import */
@import "tailwindcss";

/* DaisyUI import and theme configuration (optional) */
@plugin "daisyui" {
  /* themes: abyss; */
};


/* Tailwind custom colors */
@theme {
  --color-primary: #3B82F6;
  --color-secondary: #10B981;
  --color-accent: #F59E0B;
  --color-gray: #DBD7D2;
  --color-dark: #1F2937;
  --color-light: #F9FAFB;
}